*::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 10px; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #f1f1f1; }

.page-main {
  width: 320px;
  margin: 0 auto;
  background-color: #fff; }
  @media (min-width: 768px) {
    .page-main {
      width: 768px; } }
  @media (min-width: 1150px) {
    .page-main {
      width: 1150px; } }

.page-catalog {
  width: 320px;
  margin: 0 auto;
  background-color: #fff; }
  @media (min-width: 768px) {
    .page-catalog {
      width: 768px; } }
  @media (min-width: 1150px) {
    .page-catalog {
      width: 1150px; } }

.page-form {
  width: 320px;
  margin: 0 auto;
  background-color: #fff; }
  @media (min-width: 768px) {
    .page-form {
      width: 768px; } }
  @media (min-width: 1150px) {
    .page-form {
      width: 1150px; } }

.page-footer {
  width: 260px;
  margin: 0 auto;
  padding: 26px 30px 23px; }
  @media (min-width: 768px) {
    .page-footer {
      display: flex;
      align-items: flex-end;
      width: 668px;
      padding: 51px 50px 57px; } }
  @media (min-width: 1150px) {
    .page-footer {
      width: 1050px; } }

.container {
  padding: 0 30px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 50px; } }

a {
  display: inline-block;
  text-decoration: none;
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6,
p, dl {
  margin: 0;
  padding: 0; }

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: none; }

@media (min-width: 768px) {
  .slider__wrapper-toggles {
    content: "";
    display: block;
    position: absolute;
    right: 69px;
    bottom: 18px; } }

@media (min-width: 768px) {
  .slider__wrapper-toggles {
    right: 0; } }

.slider__toggles {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 36px;
  border: 1px solid #ececec; }
  .slider__toggles::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 52px;
    background-color: #ececec;
    transform: translateX(-50%); }
  @media (min-width: 768px) {
    .slider__toggles {
      width: 137px;
      order: 4;
      margin-left: auto;
      margin-bottom: -5px;
      margin-right: 69px;
      border: none; }
      .slider__toggles::before {
        display: none; } }
  @media (min-width: 1150px) {
    .slider__toggles {
      margin-right: 19px; } }

.slider__toggle {
  padding-top: 12px;
  padding-bottom: 12px;
  flex-basis: 50%; }
  .slider__toggle:hover > .slider__svg,
  .slider__toggle:focus > .slider__svg {
    opacity: 0.6; }
  .slider__toggle:active > .slider__svg {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .slider__toggle {
      padding: 0;
      flex-basis: auto; } }

.slider__svg {
  width: 50px;
  height: 26px;
  transition: opacity .2s linear; }

.about-us {
  position: relative;
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 33px;
  margin: 0 auto 56px; }
  .about-us::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 6px;
    background-image: url(./../img/svg/zigzag-separator--big.svg);
    background-position: 0 0;
    background-size: 292px 100%; }
  @media (min-width: 768px) {
    .about-us {
      width: 668px;
      padding: 66px 50px 0;
      margin-bottom: 0; }
      .about-us::after {
        width: 768px;
        height: 17px;
        max-height: 23px;
        background-image: url(./../img/svg/zigzag-separator--big.svg);
        background-size: 100% 100%; } }
  @media (min-width: 1150px) {
    .about-us {
      width: 1050px;
      padding-top: 82px; }
      .about-us::after {
        width: 1150px;
        height: 23px; } }

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 28px; }
  @media (min-width: 768px) {
    .about-us__title {
      font-size: 43px;
      line-height: 50px;
      letter-spacing: -0.5px;
      margin-bottom: 102px; } }
  @media (min-width: 1150px) {
    .about-us__title {
      font-size: 53px;
      line-height: 57px;
      padding-left: 171px; } }

.about-us__list {
  padding-top: 58px; }
  @media (min-width: 768px) {
    .about-us__list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 0; } }
  @media (min-width: 1150px) {
    .about-us__list {
      padding-left: 175px;
      padding-right: 175px; } }

.about-us__item {
  position: relative;
  margin-bottom: 83px;
  letter-spacing: 0.1px; }
  .about-us__item--gift {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .about-us__item {
      flex-basis: 50%;
      margin-bottom: 111px; }
      .about-us__item--flower {
        order: 1; }
      .about-us__item--money {
        order: 3; }
      .about-us__item--heart {
        order: 5; }
      .about-us__item--ball {
        order: 2; }
      .about-us__item--rocket {
        order: 4; }
      .about-us__item--gift {
        order: 6; } }

.about-us__svg {
  content: "";
  display: block;
  position: absolute; }
  .about-us__svg--flower {
    top: -54px;
    left: 8px;
    width: 32px;
    height: 37px; }
  .about-us__svg--money {
    top: -52px;
    left: 0;
    width: 47px;
    height: 27px; }
  .about-us__svg--heart {
    top: -48px;
    left: 7px;
    width: 34px;
    height: 27px; }
  .about-us__svg--ball {
    top: -50px;
    left: 3px;
    width: 35px;
    height: 34px; }
  .about-us__svg--rocket {
    top: -49px;
    left: -6px;
    width: 55px;
    height: 23px; }
  .about-us__svg--gift {
    top: -51px;
    left: 3px;
    width: 33px;
    height: 32px; }

.about-us__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700; }
  @media (min-width: 768px) {
    .about-us__text {
      font-size: 20px;
      line-height: 22px; } }

@media (min-width: 768px) {
  .catalog {
    margin-top: -44px; } }

.catalog__header {
  padding-top: 71px;
  padding-bottom: 76px;
  background-color: #f1f1f1;
  text-align: center; }
  @media (min-width: 768px) {
    .catalog__header {
      padding-top: 95px;
      padding-bottom: 106px;
      border-top: 1px solid #ececec; } }

.catalog__title {
  font-size: 27px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .catalog__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .catalog__title {
      font-size: 53px;
      line-height: 57px; } }

.catalog__cards {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px; }
  @media (min-width: 768px) {
    .catalog__cards {
      padding-top: 80px;
      padding-left: 50px;
      padding-right: 50px; }
      .catalog__cards::after {
        content: "";
        display: block;
        position: absolute;
        top: -11px;
        left: 0;
        width: 768px;
        height: 24px;
        background: url(./../img/svg/zigzag-fill.svg), no-repeat, 0 0; } }
  @media (min-width: 1150px) {
    .catalog__cards {
      display: flex;
      justify-content: space-between;
      padding-top: 125px; }
      .catalog__cards::after {
        top: -20px;
        width: 1150px;
        height: 34px;
        background-image: url(./../img/svg/zigzag-desktop.svg); } }

.catalog__card {
  margin: 0;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .catalog__card {
      display: flex;
      flex-direction: row;
      margin-bottom: 54px; } }
  @media (min-width: 1150px) {
    .catalog__card {
      flex-direction: column;
      margin-bottom: 57px; }
      .catalog__card:hover > .catalog__card-body,
      .catalog__card:focus > .catalog__card-body {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
      .catalog__card:active > .catalog__card-body {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); } }

.catalog__card-link {
  display: block; }

.catalog__card-img {
  display: block; }
  @media (min-width: 768px) {
    .catalog__card-img {
      width: 334px;
      height: 334px; } }
  @media (min-width: 1150px) {
    .catalog__card-img {
      width: 316px;
      height: 462px; } }

.catalog__card-body {
  padding: 26px 27px 26px;
  box-sizing: border-box;
  border: 1px solid #ececec; }
  @media (min-width: 768px) {
    .catalog__card-body {
      display: flex;
      flex-direction: column;
      width: 335px;
      padding-top: 25px; } }
  @media (min-width: 1150px) {
    .catalog__card-body {
      width: 316px; } }

.catalog__card-title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 5px; }
  @media (min-width: 768px) {
    .catalog__card-title {
      font-size: 20px; } }

.catalog__card-text {
  position: relative;
  font-size: 13px;
  line-height: 30px;
  padding-bottom: 20px;
  margin-bottom: 22px; }
  .catalog__card-text::after {
    content: "";
    display: block;
    position: absolute;
    top: 49px;
    left: 0;
    width: 204px;
    height: 1px;
    background-color: #ececec; }
  @media (min-width: 768px) {
    .catalog__card-text {
      font-size: 15px; }
      .catalog__card-text::after {
        top: 205px;
        left: 0;
        width: 268px; }
      .catalog__card-text--toys::after {
        top: 181px; } }
  @media (min-width: 1150px) {
    .catalog__card-text {
      margin-bottom: 41px; }
      .catalog__card-text::after {
        top: 68px; }
      .catalog__card-text--toys {
        margin-bottom: 17px; }
        .catalog__card-text--toys::after {
          top: 44px; } }

.catalog__card-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; }
  @media (min-width: 768px) {
    .catalog__card-price {
      margin-left: 5px;
      margin-right: 4px; } }
  @media (min-width: 1150px) {
    .catalog__card-price {
      margin-left: 0;
      margin-right: 0; } }

.catalog__card-price-item {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700; }
  @media (min-width: 768px) {
    .catalog__card-price-item {
      font-size: 17px; } }

.catalog__card-icon {
  opacity: .3;
  transition: opacity .2s linear,
 fill .2s linear; }
  .catalog__card-icon:hover, .catalog__card-icon:focus {
    opacity: 1;
    fill: #63d1bb; }
  .catalog__card-icon:active {
    opacity: .3;
    fill: #63d1bb; }

.contacts {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-bottom: 39px; }
  @media (min-width: 768px) {
    .contacts {
      width: 768px;
      padding-bottom: 57px; } }
  @media (min-width: 1150px) {
    .contacts {
      position: relative;
      width: 1150px;
      padding-bottom: 105px; } }

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 26px; }
  @media (min-width: 768px) {
    .contacts__title {
      font-size: 43px;
      line-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 33px;
      letter-spacing: -.4px; } }
  @media (min-width: 1150px) {
    .contacts__title {
      font-size: 53px;
      line-height: 57px;
      padding-left: 175px;
      margin-bottom: 48px;
      letter-spacing: -1px; } }

.contacts__icon {
  display: none;
  fill: #63d1bb; }
  @media (min-width: 768px) {
    .contacts__icon {
      display: block; } }
  @media (min-width: 1150px) {
    .contacts__icon {
      content: "";
      display: block;
      position: absolute;
      left: 113px;
      top: -9px; } }

.contacts__list {
  font-size: 15px;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px; }
  @media (min-width: 768px) {
    .contacts__list {
      margin-bottom: 57px;
      font-size: 17px; } }
  @media (min-width: 1150px) {
    .contacts__list {
      padding-left: 175px;
      margin-bottom: 79px;
      flex-direction: column; } }

.contacts__item {
  display: flex;
  flex-direction: row; }
  .contacts__item:not(:last-child) {
    margin-bottom: 30px; }
  @media (min-width: 768px) {
    .contacts__item:last-child {
      margin-left: 55px; } }
  @media (min-width: 1150px) {
    .contacts__item:last-child {
      margin-left: 0; } }

.contacts__name {
  margin-right: 30px; }
  @media (min-width: 768px) {
    .contacts__name {
      margin-right: 0; } }

.contacts__link {
  background-image: linear-gradient(transparent calc(100% - 1px), #63d1bb 1px);
  transition: color .2s linear,
 opacity .2s linear,
 background .2s linear; }
  .contacts__link:focus, .contacts__link:hover {
    color: #63d1bb; }
  .contacts__link:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .contacts__link {
      margin-left: 24px;
      background-position: 0 100%; } }

@media (min-width: 768px) {
  .contacts__text {
    margin-left: 22px; } }

.contacts__map {
  margin-bottom: 42px; }
  @media (min-width: 768px) {
    .contacts__map {
      margin-bottom: 55px; } }
  @media (min-width: 1150px) {
    .contacts__map {
      content: "";
      display: block;
      position: absolute;
      right: 51px;
      bottom: 50px; } }

.contacts__img {
  display: block; }
  @media (min-width: 768px) {
    .contacts__img {
      width: 768px;
      height: 457px; } }
  @media (min-width: 1150px) {
    .contacts__img {
      width: 525px;
      height: 457px; } }

.contacts__btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0 auto;
  border: 2px solid #444444;
  transition: background .2s linear,
 color .2s linear; }
  .contacts__btn:hover, .contacts__btn:focus {
    color: #ffffff;
    background-color: #444444; }
  .contacts__btn:active {
    color: #b3b3b3; }
  @media (min-width: 768px) {
    .contacts__btn {
      width: 230px;
      font-size: 17px; } }
  @media (min-width: 1150px) {
    .contacts__btn {
      margin: 0;
      margin-left: 225px; } }

.features {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 27px auto 36px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .features {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 668px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 38px;
      margin-bottom: 52px; } }
  @media (min-width: 1150px) {
    .features {
      width: 1050px;
      margin-top: 116px;
      margin-bottom: 74px; } }

.features__header {
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .features__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 49px; } }
  @media (min-width: 1150px) {
    .features__header {
      justify-content: flex-start;
      margin-bottom: 49px;
      z-index: 10; } }

.features__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px; }
  @media (min-width: 768px) {
    .features__title {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 0; } }
  @media (min-width: 1150px) {
    .features__title {
      font-size: 53px;
      line-height: 57px; } }

.features__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .features__subtitle {
      margin-right: 27px;
      margin-top: 4px;
      flex-basis: 10%;
      line-height: 1;
      text-align: center; } }
  @media (min-width: 1150px) {
    .features__subtitle {
      margin-right: 36px;
      margin-top: 9px;
      margin-left: 30px;
      order: -1; } }

.features__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: .1px; }
  @media (min-width: 768px) {
    .features__text {
      font-size: 17px;
      line-height: 30px;
      width: 284px;
      margin-bottom: 35px; } }
  @media (min-width: 1150px) {
    .features__text {
      margin-bottom: 49px;
      padding-left: 175px; } }

.features__table {
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  margin-bottom: 26px;
  border-collapse: collapse; }
  @media (min-width: 768px) {
    .features__table {
      width: 284px;
      margin-bottom: 54px; } }
  @media (min-width: 1150px) {
    .features__table {
      margin-bottom: 107px;
      margin-left: 175px; } }

.features__col {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec; }
  .features__col--properties {
    padding-right: 11px; }
  @media (min-width: 768px) {
    .features__col--properties {
      padding-right: 0; } }

.features__img {
  display: block;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .features__img {
      content: "";
      display: block;
      position: absolute;
      bottom: 2px;
      right: 50px;
      width: 333px;
      height: 404px;
      margin-bottom: 0; } }
  @media (min-width: 1150px) {
    .features__img {
      bottom: 0;
      width: 525px;
      height: 636px; } }

@media (min-width: 768px) {
  .features__buy {
    width: 333px; } }

@media (min-width: 1150px) {
  .features__buy {
    padding-left: 175px; } }

.features__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 26px;
  text-align: center; }
  @media (min-width: 768px) {
    .features__price {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 34px;
      margin-left: 72px;
      text-align: left; } }

.features__btn {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid #444444;
  transition: background .2s linear,
 color .2s linear; }
  .features__btn:hover, .features__btn:focus {
    color: #ffffff;
    background-color: #444444; }
  .features__btn:active {
    color: #b3b3b3; }
  @media (min-width: 768px) {
    .features__btn {
      width: 292px; } }

.order {
  padding-bottom: 55px; }
  @media (min-width: 768px) {
    .order {
      margin-top: -44px;
      padding-bottom: 1px; } }

.order__header {
  margin-bottom: 23px; }
  @media (min-width: 768px) {
    .order__header {
      border-top: 1px solid rgba(0, 0, 0, 0.1); } }

.order__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 22px;
  padding: 71px 30px 76px;
  text-align: center;
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .order__title {
      position: relative;
      font-size: 43px;
      line-height: 50px;
      padding: 94px 30px 81px;
      margin-bottom: 73px; }
      .order__title::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -13px;
        left: 0;
        width: 768px;
        height: 24px;
        background: url(./../img/svg/zigzag-fill.svg), no-repeat, 0 0; } }
  @media (min-width: 1150px) {
    .order__title {
      font-size: 53px;
      line-height: 57px;
      padding-bottom: 111px;
      margin-bottom: 114px; }
      .order__title::after {
        width: 1150px;
        height: 34px;
        background-image: url(./../img/svg/zigzag-desktop.svg); } }

.order__text {
  font-size: 13px;
  line-height: 24px;
  padding-left: 30px;
  padding-right: 30px; }
  @media (min-width: 768px) {
    .order__text {
      font-size: 17px;
      line-height: 30px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .order__text {
      padding-left: 225px;
      padding-right: 225px; } }

.order__form {
  padding-left: 30px;
  padding-right: 30px; }
  @media (min-width: 768px) {
    .order__form {
      padding: 0; } }

.order__form-inner {
  margin: 0;
  padding: 0;
  border: none; }
  .order__form-inner--type {
    margin-bottom: 33px; }
  .order__form-inner--color {
    margin-bottom: 32px; }
  .order__form-inner--introself {
    margin-bottom: 32px; }
  .order__form-inner--contact, .order__form-inner--mail {
    margin-bottom: 31px; }
  @media (min-width: 768px) {
    .order__form-inner {
      position: relative;
      margin: 0;
      padding: 0 50px;
      padding-left: 167px; }
      .order__form-inner--type {
        padding-top: 32px;
        padding-bottom: 51px;
        padding-left: 215px; }
      .order__form-inner--color {
        padding: 47px 29px 26px 215px;
        background-color: #f1f1f1; }
      .order__form-inner--introself {
        padding-top: 48px;
        padding-bottom: 50px;
        padding-left: 217px; }
      .order__form-inner--contact {
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 217px;
        background-color: #f1f1f1; }
      .order__form-inner--mail {
        padding-top: 12px;
        padding-bottom: 50px;
        padding-left: 217px;
        background-color: #f1f1f1; }
      .order__form-inner--desire {
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px; } }
  @media (min-width: 1150px) {
    .order__form-inner--type, .order__form-inner--color {
      padding-left: 224px;
      padding-right: 139px; }
    .order__form-inner--introself {
      padding-left: 225px;
      padding-right: 225px; }
    .order__form-inner--contact {
      padding-left: 225px;
      padding-right: 225px; }
    .order__form-inner--mail {
      padding-left: 225px;
      padding-right: 225px; } }

.order__form-title {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 1;
  font-weight: 700;
  color: #63d1bb;
  text-transorder: uppercase; }
  .order__form-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 62px;
    top: 50%;
    width: 198px;
    height: 1px;
    background-color: #63d1bb; }
  .order__form-title--type {
    margin-bottom: 32px; }
  .order__form-title--color {
    margin-bottom: 25px; }
  .order__form-title--introself {
    margin-bottom: 30px; }
  .order__form-title--contact, .order__form-title--mail {
    margin-bottom: 7px; }
  .order__form-title--desire {
    margin-bottom: 25px; }
  @media (min-width: 768px) {
    .order__form-title {
      position: absolute;
      left: 52px; }
      .order__form-title::after {
        display: none; }
      .order__form-title--type {
        top: 51px; }
      .order__form-title--color, .order__form-title--contact, .order__form-title--desire {
        top: 66px; }
      .order__form-title--introself {
        top: 67px; }
      .order__form-title--mail {
        top: 28px; } }
  @media (min-width: 1150px) {
    .order__form-title--type {
      left: 114px; }
    .order__form-title--color {
      top: 64px;
      left: 111px; }
    .order__form-title--contact {
      top: 67px;
      left: 112px; }
    .order__form-title--introself {
      top: 67px;
      left: 111px; }
    .order__form-title--mail {
      top: 30px;
      left: 112px; }
    .order__form-title--desire {
      top: 67px;
      left: 113px; } }

@media (min-width: 768px) {
  .order__form-list--color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; } }

.order__form-item--type + .order__form-item--type {
  margin-top: 12px; }

.order__form-item--color + .order__form-item--color {
  margin-top: 21px; }

.order__form-item--introself + .order__form-item--introself {
  margin-top: 22px; }

.order__form-item--introself {
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .order__form-item--color {
    width: 50%; }
  .order__form-item--introself {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .order__form-item--type + .order__form-item--type {
    margin-top: 24px; }
  .order__form-item--color + .order__form-item--color {
    margin-top: 0;
    margin-bottom: 24px; }
  .order__form-item--introself + .order__form-item--introself {
    margin-top: 23px; } }

@media (min-width: 1150px) {
  .order__form-item--color {
    width: 33.33333%; }
  .order__form-item--color + .order__form-item--color {
    margin-bottom: 23px; } }

.order__form-radio,
.order__form-checkbox {
  display: none; }

.order__form-radio:checked + .order__form-label::after {
  box-sizing: border-box;
  background-color: #63d1bb;
  box-shadow: inset 0 0 0 10px #fff; }

@media (min-width: 768px) {
  .order__form-radio:checked + .order__form-label::after {
    box-shadow: inset 0 0 0 14px #fff; } }

.order__form-label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700; }
  .order__form-label:hover::after {
    border-color: #63d1bb; }
  .order__form-label--accessory, .order__form-label--toy, .order__form-label--color {
    position: relative;
    display: block;
    padding-left: 62px;
    cursor: pointer; }
  .order__form-label--accessory::after, .order__form-label--toy::after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #000;
    transition: border .2s linear; }
  .order__form-label--accessory::after {
    top: -6px;
    left: 0; }
  .order__form-label--toy::after {
    top: 2px;
    left: 0; }
  .order__form-label--accessory {
    padding-top: 2px;
    padding-bottom: 2px; }
  .order__form-label--color::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #000;
    transition: border .2s linear; }
  .order__form-label--toy, .order__form-label--color {
    padding-top: 11px;
    padding-bottom: 11px; }
  @media (min-width: 768px) {
    .order__form-label {
      font-size: 19px;
      font-weight: 700;
      line-height: 1; }
      .order__form-label--accessory, .order__form-label--toy {
        padding-left: 82px; }
        .order__form-label--accessory::after, .order__form-label--toy::after {
          top: 2px;
          left: 2px;
          width: 52px;
          height: 52px; }
      .order__form-label--color {
        padding-left: 82px; }
        .order__form-label--color::after {
          top: 2px;
          left: 2px;
          width: 54px;
          height: 52px; }
      .order__form-label--accessory, .order__form-label--toy, .order__form-label--color {
        padding-top: 17px;
        padding-bottom: 17px; } }

.order__form-checkbox:checked + .order__form-label::before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 13px;
  width: 22px;
  height: 16px;
  background-image: url(./../img/svg/checkbox-mark-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0; }

@media (min-width: 768px) {
  .order__form-checkbox:checked + .order__form-label::before {
    left: 17px;
    top: 22px;
    width: 26px;
    height: 18px; } }

.order__form-input,
.order__textarea {
  font-size: 17px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .order__form-input,
    .order__textarea {
      margin-bottom: 0;
      padding-left: 17px;
      font-size: 19px;
      line-height: 19px; } }

.order__form-input {
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  transition: border .2s linear;
  outline: none; }
  .order__form-input:hover, .order__form-input:focus, .order__form-input:active {
    border-bottom-color: #63d1bb; }
  .order__form-input--contact:hover + .order__contact-icon,
  .order__form-input--contact:focus + .order__contact-icon,
  .order__form-input--contact:active + .order__contact-icon, .order__form-input--mail:hover + .order__contact-icon,
  .order__form-input--mail:focus + .order__contact-icon,
  .order__form-input--mail:active + .order__contact-icon {
    fill: #63d1bb; }
  @media (min-width: 768px) {
    .order__form-input {
      padding-top: 12px;
      padding-bottom: 13px; }
      .order__form-input--text {
        flex-grow: 1;
        margin-left: 25px; }
      .order__form-input--contact, .order__form-input--mail {
        background-color: transparent; } }
  @media (min-width: 1150px) {
    .order__form-input {
      padding-bottom: 12px; } }

.order__wrapper-contact {
  position: relative; }

.order__contact-icon {
  content: "";
  display: block;
  position: absolute;
  transition: fill .2s linear; }
  .order__contact-icon:hover, .order__contact-icon:focus, .order__contact-icon:active {
    fill: #63d1bb; }
  .order__contact-icon--tel {
    top: 11px;
    right: 8px; }
  .order__contact-icon--email {
    top: 16px;
    right: 4px; }
  @media (min-width: 768px) {
    .order__contact-icon--tel {
      right: 26px; }
    .order__contact-icon--email {
      right: 22px; } }
  @media (min-width: 1150px) {
    .order__contact-icon--tel {
      right: 8px;
      top: 9px; }
    .order__contact-icon--email {
      right: 4px;
      top: 14px; } }

@media (min-width: 768px) {
  .order__wrapper-textarea {
    margin-left: 217px;
    margin-right: 50px; } }

@media (min-width: 1150px) {
  .order__wrapper-textarea {
    margin-left: 225px;
    margin-right: 225px; } }

.order__textarea {
  width: 100%;
  padding: 14px;
  padding-bottom: 18px;
  margin-bottom: 14px;
  box-sizing: border-box;
  border: 2px solid #000;
  resize: none;
  transition: border .2s linear;
  outline: none; }
  .order__textarea:hover, .order__textarea:focus, .order__textarea:active {
    border-color: #63d1bb; }
  @media (min-width: 768px) {
    .order__textarea {
      padding-bottom: 12px;
      margin-bottom: 50px; } }
  @media (min-width: 1150px) {
    .order__textarea {
      margin-bottom: 46px; } }

@media (min-width: 768px) {
  .order__wrapper-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px; } }

@media (min-width: 1150px) {
  .order__wrapper-btn {
    padding-left: 225px;
    padding-right: 225px; } }

.order__text-bottom {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 31px;
  color: #444444;
  letter-spacing: -.1px; }
  @media (min-width: 768px) {
    .order__text-bottom {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 0; } }

.order__btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid #444444;
  letter-spacing: -.5px;
  transition: background .2s linear,
 color .2s linear; }
  .order__btn:hover, .order__btn:focus {
    color: #ffffff;
    background-color: #444444; }
  .order__btn:active {
    color: #b3b3b3; }
  @media (min-width: 768px) {
    .order__btn {
      width: 230px; } }

.main-nav {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff; }
  @media (max-width: 767px) {
    .main-nav {
      position: relative; } }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000; }
  .main-nav--opened .main-nav__toggle {
    top: 27px; }
    .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
      content: "";
      position: absolute;
      top: 9px;
      left: -3px;
      width: 30px;
      height: 3px;
      background-color: #000; }
    .main-nav--opened .main-nav__toggle::before {
      transform: rotate(45deg);
      box-shadow: none; }
    .main-nav--opened .main-nav__toggle::after {
      transform: rotate(-45deg); }
  @media (min-width: 768px) {
    .main-nav {
      flex-direction: row;
      flex-wrap: wrap;
      width: 668px;
      padding-left: 50px;
      padding-right: 50px; } }
  @media (min-width: 1150px) {
    .main-nav {
      width: 1050px; } }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none; } }

.main-nav__toggle {
  position: absolute;
  bottom: 29px;
  right: 20px;
  width: 23px;
  height: 21px;
  cursor: pointer;
  border: none;
  background-color: transparent; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav__main-logo {
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 86px;
  height: 35px;
  align-self: center; }
  @media (min-width: 768px) {
    .main-nav__main-logo {
      width: 113px;
      height: 46px;
      order: 1;
      padding-top: 0;
      padding-bottom: 0; } }
  @media (min-width: 1150px) {
    .main-nav__main-logo {
      width: 149px;
      height: 72px;
      order: 2; } }

.main-nav__main-logo {
  transition: opacity .2s linear; }
  .main-nav__main-logo:hover, .main-nav__main-logo:focus {
    opacity: 0.6; }
  .main-nav__main-logo:active {
    opacity: 0.3; }

.main-nav__main-logo img {
  display: block; }

.main-nav__list {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700; }
  .main-nav__list--arrivals {
    display: none; }
  @media (min-width: 768px) {
    .main-nav__list {
      display: flex;
      flex-direction: row;
      z-index: 10; }
      .main-nav__list--search {
        order: 2;
        margin-left: auto;
        align-items: center; }
      .main-nav__list--catalog {
        order: 3; }
      .main-nav__list--arrivals {
        display: none; } }
  @media (min-width: 1150px) {
    .main-nav__list--arrivals {
      display: flex;
      order: 4; }
    .main-nav__list--search {
      order: 3; }
    .main-nav__list--catalog {
      order: 1;
      margin-right: 75px;
      align-items: center; } }

.main-nav__item {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #ececec; }
  .main-nav__item--catalog:first-child {
    border-top: 1px solid #ececec; }
  @media (min-width: 768px) {
    .main-nav__item {
      padding-left: 0;
      padding-right: 0;
      border-bottom: none; }
      .main-nav__item--catalog {
        font-size: 15px;
        line-height: 24px;
        padding-top: 20px; }
      .main-nav__item--catalog:first-child {
        border-top: none; }
      .main-nav__item--catalog + .main-nav__item--catalog {
        margin-left: 37px; }
      .main-nav__item--search {
        padding: 36px 31px 33px 33px;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec; } }
  @media (min-width: 1150px) {
    .main-nav__item--catalog {
      font-size: 17px;
      line-height: 24px;
      padding-top: 32px;
      padding-bottom: 30px; }
    .main-nav__item--catalog + .main-nav__item--catalog {
      margin-left: 35px;
      padding-left: 34px;
      border-left: 1px solid #ececec; }
    .main-nav__item--arrivals {
      font-size: 15px;
      line-height: 24px;
      padding-top: 20px; }
    .main-nav__item--arrivals + .main-nav__item--arrivals {
      padding-left: 61px; } }

.main-nav__link {
  position: relative;
  display: block;
  padding-left: 46px;
  padding-top: 29px;
  padding-bottom: 27px;
  transition: opacity .2s linear,
 color .2s linear; }
  .main-nav__link:hover {
    opacity: .6; }
  .main-nav__link:active {
    opacity: .3; }
  .main-nav__link:hover > .main-nav__icon {
    opacity: 1;
    fill: #63d1bb; }
  .main-nav__link:active > .main-nav__icon {
    opacity: .3; }
  @media (min-width: 768px) {
    .main-nav__link {
      padding-top: 0;
      padding-bottom: 0; }
      .main-nav__link--catalog {
        padding-left: 0; }
      .main-nav__link--cart {
        padding-left: 83px; }
      .main-nav__link--search {
        display: flex;
        padding: 0; } }
  @media (min-width: 1150px) {
    .main-nav__link--arrivals {
      padding-left: 0; }
    .main-nav__link--catalog {
      display: inline-block; } }

.main-nav__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: .3;
  transition: opacity .2s linear,
 fill .2s linear; }
  @media (min-width: 768px) {
    .main-nav__icon--search {
      position: static;
      transform: translateY(0); }
    .main-nav__icon--cart {
      left: 31px; } }

@media (min-width: 768px) {
  .main-nav__text-hidden {
    display: none; } }

.main-nav__delivery {
  display: none;
  z-index: 10; }
  @media (min-width: 768px) {
    .main-nav__delivery {
      font-size: 15px;
      line-height: 24px;
      display: block;
      order: 4;
      margin-left: auto;
      padding-top: 20px; } }

.promo {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .promo {
      width: 768px;
      margin-top: -44px; } }
  @media (min-width: 1150px) {
    .promo {
      width: 1150px; } }

.promo__header {
  padding-top: 71px;
  padding-bottom: 122px;
  background: url(./../img/hero-mobile@1x.jpg) no-repeat 50% -18px; }
  @media (min-width: 768px) {
    .promo__header {
      display: flex;
      justify-content: center;
      padding-top: 153px;
      padding-bottom: 374px;
      border-top: 1px solid #ececec;
      background: url(./../img/hero-tablet@1x.jpg) 50% 0; } }
  @media (min-width: 1150px) {
    .promo__header {
      padding-top: 155px;
      padding-bottom: 359px;
      background: url(./../img/hero-desktop@1x.jpg) 50% 0; } }

.promo__title {
  font-size: 27px;
  line-height: 30px;
  flex-basis: 70%;
  text-align: center;
  padding-left: 49px;
  padding-right: 49px; }
  @media (min-width: 768px) {
    .promo__title {
      font-size: 43px;
      line-height: 50px;
      text-align: center; } }
  @media (min-width: 1150px) {
    .promo__title {
      font-size: 53px;
      line-height: 57px; } }

.promo__list {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f9f9f9; }
  @media (min-width: 768px) {
    .promo__list {
      position: relative;
      display: flex;
      flex-direction: row;
      padding-left: 50px;
      padding-right: 50px; }
      .promo__list::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 768px;
        height: 24px;
        background: url(./../img/svg/zigzag-fill.svg), no-repeat, 0 0; } }
  @media (min-width: 1150px) {
    .promo__list {
      font-size: 20px;
      line-height: 30px; }
      .promo__list::after {
        bottom: -10px;
        width: 1150px;
        height: 34px;
        background-image: url(./../img/svg/zigzag-desktop.svg); } }

.promo__item--interior {
  background-color: #63d1bb; }

.promo__item--toy {
  background-color: #43c8ad; }

@media (min-width: 768px) {
  .promo__item {
    position: relative;
    width: 50%; }
    .promo__item:hover, .promo__item:focus {
      bottom: 5px; } }

.promo__link {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 26px 30px 29px;
  color: #ffffff; }
  .promo__link:hover > .promo__icon--toy,
  .promo__link:focus > .promo__icon--interior,
  .promo__link:hover > .promo__icon--interior,
  .promo__link:focus > .promo__icon--toy {
    fill: #0e6358; }
  @media (min-width: 768px) {
    .promo__link {
      padding: 28px 36px 38px; } }

.promo__text {
  font-size: 19px;
  line-height: 24px;
  flex-basis: 40%; }
  @media (min-width: 768px) {
    .promo__text {
      font-size: 20px;
      line-height: 30px; } }

.promo__icon {
  content: "";
  display: block;
  position: absolute;
  transition: fill .2s linear; }
  .promo__icon--interior, .promo__icon--toy {
    fill: #149080; }
  .promo__icon--interior {
    top: 23px;
    right: 36px; }
  .promo__icon--toy {
    top: 21px;
    right: 27px; }
  @media (min-width: 768px) {
    .promo__icon--interior {
      top: 30px; }
    .promo__icon--toy {
      top: 31px;
      right: 33px; } }

.reviews {
  position: relative;
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 51px;
  margin-bottom: 35px; }
  .reviews::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 6px;
    background-image: url(./../img/svg/zigzag-separator--big.svg);
    background-position: 0 0;
    background-size: 292px 100%; }
  @media (min-width: 768px) {
    .reviews {
      width: 768px;
      padding: 0;
      padding-top: 77px;
      padding-bottom: 186px;
      margin-top: -27px;
      margin-bottom: 45px;
      background-image: url(./../img/review@1x.jpg);
      background-repeat: no-repeat;
      background-position: 0 0; }
      .reviews::after {
        width: 768px;
        height: 17px;
        max-height: 23px;
        background-image: url(./../img/svg/zigzag-separator--big.svg);
        background-size: 100% 100%; } }
  @media (min-width: 1150px) {
    .reviews {
      width: 1050px;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 142px;
      background-position: 50px 6px; }
      .reviews::after {
        width: 1150px;
        height: 23px; } }

@media (min-width: 768px) {
  .reviews__slider {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px; } }

@media (min-width: 1150px) {
  .reviews__slider {
    padding-left: 175px;
    padding-right: 0; } }

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .reviews__title {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 49px;
      order: 1;
      letter-spacing: -.4px; } }
  @media (min-width: 1150px) {
    .reviews__title {
      font-size: 53px;
      line-height: 57px; } }

.reviews__list {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .reviews__list {
      order: 3;
      margin-bottom: 0; } }

.reviews__item--2, .reviews__item--3 {
  display: none; }

.reviews__info {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 26px; }
  @media (min-width: 768px) {
    .reviews__info {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 57px; } }
  @media (min-width: 1150px) {
    .reviews__info {
      margin-right: 100px;
      margin-bottom: 38px; } }

.reviews__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 3px;
  font-style: normal; }
  @media (min-width: 768px) {
    .reviews__author-name {
      font-size: 18px; } }

.reviews__author-contact {
  font-size: 17px;
  line-height: 30px;
  display: block; }

@media (min-width: 768px) {
  .reviews__wrapper-btn {
    width: 175px;
    order: 2;
    margin-left: auto; } }

.reviews__btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid #444444;
  transition: background .2s linear,
 color .2s linear; }
  .reviews__btn:hover, .reviews__btn:focus {
    color: #ffffff;
    background-color: #444444; }
  .reviews__btn:active {
    color: #b3b3b3; }
  @media (min-width: 1150px) {
    .reviews__btn {
      margin-top: 8px; } }

.social {
  padding-bottom: 23px;
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5; }
  @media (min-width: 768px) {
    .social {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; } }

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.social__item + .social__item {
  margin-left: 40px; }

.social__link:hover > .social__icon,
.social__link:focus > .social__icon {
  fill: #63d1bb; }

.social__link:active > .social__icon {
  fill: #b2e8dd; }

.social__icon {
  display: block;
  transition: fill .2s linear; }

.logo {
  display: none; }
  @media (min-width: 768px) {
    .logo {
      display: block;
      margin-right: 159px; } }
  @media (min-width: 1150px) {
    .logo {
      margin-right: 351px; } }

.logo__icon {
  width: 102px;
  height: 34px; }

.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 768px) {
    .copyright {
      margin-left: auto;
      padding: 0; } }

.copyright__text {
  font-size: 18px;
  line-height: 1; }
  @media (min-width: 768px) {
    .copyright__text {
      margin-right: 30px; } }

.copyright__logo {
  display: block;
  width: 27px;
  height: 34px; }

.copyright__link {
  transition: fill .2s linear; }
  .copyright__link:hover, .copyright__link:focus {
    fill: #63d1bb; }
  .copyright__link:active {
    fill: #237867; }

.video {
  padding: 0 30px 56px; }
  @media (min-width: 768px) {
    .video {
      padding: 0 50px 63px; } }
  @media (min-width: 1150px) {
    .video {
      display: flex;
      flex-direction: row;
      padding-bottom: 105px; } }

.video__header {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
  border-bottom: none; }
  @media (min-width: 768px) {
    .video__header {
      position: relative;
      padding: 0;
      border: none; } }

.video__title {
  font-size: 17px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .video__title {
      display: none; } }

.video__camera {
  width: 32px;
  height: 22px;
  margin-left: 37px;
  margin-right: 25px; }
  @media (min-width: 768px) {
    .video__camera {
      content: "";
      display: block;
      position: absolute;
      top: 493px;
      left: 4px; } }
  @media (min-width: 1150px) {
    .video__camera {
      top: 48px;
      left: 725px; } }

.video__presentation {
  position: relative; }

.video__img {
  display: block; }
  @media (min-width: 768px) {
    .video__img {
      width: 668px;
      height: 455px; } }
  @media (min-width: 1150px) {
    .video__img {
      width: 682px;
      height: 455px; } }

.video__icon {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px; }

.video__wrapper-order {
  padding-top: 27px;
  padding-bottom: 32px;
  padding-left: 33px;
  padding-right: 33px;
  border: 1px solid #ececec;
  border-top: none;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .video__wrapper-order {
      padding: 37px 40px 46px;
      border-top: 1px solid #ececec; } }
  @media (min-width: 1150px) {
    .video__wrapper-order {
      width: 367px;
      padding: 0;
      padding-top: 95px;
      padding-left: 80px;
      padding-right: 57px; } }

.video__title-right {
  display: none; }
  @media (min-width: 768px) {
    .video__title-right {
      font-size: 20px;
      line-height: 24px;
      display: block;
      margin-left: 67px;
      margin-bottom: 32px; } }
  @media (min-width: 1150px) {
    .video__title-right {
      margin-left: 0;
      margin-bottom: 34px; } }

.video__text {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .video__text {
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 35px; } }
  @media (min-width: 1150px) {
    .video__text {
      margin-bottom: 45px; } }

.video__btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  padding: 14px 20px;
  border: 2px solid #444444;
  transition: background .2s linear,
 color .2s linear; }
  .video__btn:hover, .video__btn:focus {
    color: #ffffff;
    background-color: #444444; }
  .video__btn:active {
    color: #b3b3b3; }
  @media (min-width: 768px) {
    .video__btn {
      width: 100%; } }
