.map {
    padding: 42px 0 0 0;

    @media (min-width: $tablet-width) {
        padding: 45px 0 0 0;
    }

    @media (min-width: $desktop-width) {
        padding: 63px 0 0 0;
    }
}

.map__inner {
    width: 320px;
    margin: 0 auto;

    text-align: center;

    @media (min-width: $tablet-width) {
        width: 660px;
    }

    @media (min-width: $desktop-width) {
        width: 960px;
    }
}

.map__title {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 300;

    @media (min-width: $tablet-width) {
        padding: 0 128px;
        margin-bottom: 41px;

        font-size: 40px;
        line-height: 48px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 53px;

        font-size: 50px;
        line-height: 60px;
    }
}

.map__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
        justify-content: space-between;
        padding: 0 40px;
    }
}

.map__item {
    padding: 0 0;

    & + & {
        margin-top: 18px;
    }

    @media (min-width: $tablet-width) {
    & + & {
        margin-top: 0;
    }

        &--call {
            width: 50%;
            margin-bottom: 44px;
            order: 1;
        }

        &--address {
            order: 3;

            margin: 0 auto;

        }

        &--write {
            width: 50%;
            margin-bottom: 44px;
            order: 2;
        }
    }
    @media (min-width: $desktop-width) {
        width: 240px;
        padding: 0;

        &--call {
            order: 1;
        }

        &--address {
            order: 2;

            margin: 0;
        }

        &--write {
            order: 3;
        }
    }
}

.map__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {
        margin-bottom: 20px;
    }
}

.map__contact {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: $secondary;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {}
}

.map__img {
    position: relative;

    width: 320px;
    height: 200px;

    background: url(../../img/bg-map-mobile@1x.jpg) no-repeat 0 100%;

    &::after {
        @include pseudo();
        top: 0;
        left: 0;
        width: 100%;
        height: 33px;
        background: url(../../img/svg/bg-triangle-white-footer.svg) no-repeat center top;
        background-size: 100% 33px;

        z-index: 10;
    }

    @media (min-width: $tablet-width) {
        width: 660px;
        height: 374px;

        background: url(../../img/bg-map-tablet@1x.jpg);

        &::after {
            height: 63px;
            background-size: 100% 63px;
        }
    }

    @media (min-width: $desktop-width) {
        width: 960px;
        height: 502px;

        background: url(../../img/bg-map-desktop@1x.jpg);
    }
}




