.page-header {
    background-image: url(../../img/bg-back-mobile.jpg);
    background-position: -190px 256px;

    &--photo {
        background-position: -190px 256px;
    }

    @media (min-width: $tablet-width) {
        background-image: url(../../img/bg-back-tablet.jpg);
        background-position: -270px 254px;

        &--photo {
            background-position: -270px 254px;
        }
    }

    @media (min-width: $desktop-width) {
        background-image: url(../../img/bg-back-desktop.jpg);
        background-position: -680px 0;

        &--photo {
            background-position: -680px 0;
        }
    }
}

.page-header__nav {
    @media (min-width: $tablet-width) {}
    @media (min-width: $desktop-width) {}
}

.page-header__dowload {
    @media (min-width: $tablet-width) {}
    @media (min-width: $desktop-width) {}
}

