@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/roboto.woff") format("woff"), url("./../../fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/roboto.woff") format("woff"), url("./../../fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/robotomedium.woff") format("woff"), url("./../../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/robotomedium.woff") format("woff"), url("./../../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/robotobold.woff") format("woff"), url("./../../fonts/robotobold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/robotobold.woff") format("woff"), url("./../../fonts/robotobold.woff2") format("woff2");
  font-weight: bold;
  font-style: italic; }

html {
  font-size: 62.5%;
  line-height: 1.5; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem; }

.container {
  width: 1200px;
  margin: 0 auto; }

.page-header {
  background-color: #eeeeee; }

.page-catalog-header {
  margin-bottom: 6rem;
  background-color: #eeeeee; }

.page-header__title {
  margin: 0;
  padding-top: 7.7rem;
  padding-bottom: 10.8rem;
  text-align: center;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1; }

.page-main--catalog {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.list-style {
  margin: 0;
  padding: 0;
  list-style: none; }

.link {
  text-decoration: none;
  color: black; }

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0; }

.btn {
  display: inline-block;
  padding: 1em 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.125;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border-radius: 4px;
  background-color: transparent;
  border: none; }

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  padding-top: 4.9rem;
  align-items: flex-end;
  line-height: 1.875;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000; }

.navbar__wrap-brand {
  margin-right: 200px; }

.navbar__icon {
  display: block; }

.navbar__wrap-nav {
  width: 440px;
  margin-bottom: .9rem; }

.navbar__wrap-cart {
  margin-left: auto;
  margin-bottom: .9rem; }

.nav,
.cart {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__link,
.cart__link {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  font-weight: 700; }

.nav__link:hover,
.cart__link:hover {
  color: #fb565a; }

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.nav__item--current {
  border-bottom: 2px solid  #fb565a; }

.cart {
  display: flex;
  flex-wrap: wrap; }

.cart__icon {
  margin-right: 1.4em;
  fill: #a6a6a6; }

.cart__link:hover .cart__icon {
  fill: #fb565a; }

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 2rem; }

.carousel__indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 96px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 88px;
  list-style: none; }

.carousel__indicator {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff; }

.carousel__item {
  padding-top: 7.8rem;
  padding-bottom: 8rem;
  display: none; }
  .carousel__item--design {
    display: block;
    background: url(./../img/slide1.png) 93% 100% no-repeat; }
  .carousel__item--maths {
    background: url(./../img/slide2.png) 100% 100% no-repeat; }
  .carousel__item--overtime {
    background: url(./../img/slide3.png) 100% 100% no-repeat; }

.carousel__title {
  margin: 0;
  margin-bottom: 2.6rem;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1; }

.carousel__text {
  width: 410px;
  margin: 0;
  margin-bottom: 4rem; }

.carousel__btn {
  width: 240px;
  background-color: #fb565a; }
  .carousel__btn:hover {
    background-color: #e74246; }
  .carousel__btn:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }

.features {
  padding: 8rem 2rem; }

.features__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-between; }

.features__item + .features__item {
  margin-left: 10rem; }

.features__img {
  display: block;
  margin-bottom: 2.4rem; }

.features__title {
  margin: 0;
  margin-bottom: 1.55rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 700; }

.features__text {
  margin: 0;
  margin-bottom: 3.4rem; }

.features__btn {
  width: 160px; }
  .features__btn--red {
    background-color: #fb565a; }
    .features__btn--red:hover {
      background-color: #e74246; }
    .features__btn--red:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #d7373b;
      box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }
  .features__btn--green {
    background-color: #00ca74; }
    .features__btn--green:hover {
      background-color: #00bc6c; }
    .features__btn--green:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #00aa62;
      box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }
  .features__btn--yellow {
    background-color: #efc849; }
    .features__btn--yellow:hover {
      background-color: #eab534; }
    .features__btn--yellow:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #e5a722;
      box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }

.advantages {
  position: relative;
  display: flex;
  padding: 7.6rem 2rem 6.4rem; }
  .advantages::before {
    content: "";
    display: block;
    position: absolute;
    left: 2rem;
    top: 0;
    width: 1160px;
    height: 2px;
    background-color: #eeeeee; }
  .advantages::after {
    content: "";
    display: block;
    position: absolute;
    left: 2rem;
    bottom: 0;
    width: 1160px;
    height: 2px;
    background-color: #eeeeee; }

.advantages__inner + .advantages__inner {
  margin-left: 14rem; }

.advantages__title {
  margin: 0;
  margin-bottom: 3.4rem;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 500; }

.advantages__text {
  margin: 0;
  margin-bottom: 3.7rem; }

.advantages__subtitle {
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.advantages__list {
  width: 430px;
  margin: 0;
  padding-left: 3.7rem;
  list-style: none; }

.advantages__item {
  position: relative;
  padding: 1.1rem 0; }
  .advantages__item::before {
    content: "";
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.7rem;
    width: 25px;
    height: 2px;
    background-color: #fb565a; }

.advantages__img {
  max-width: none;
  display: block;
  margin-bottom: .2rem;
  transform: translateY(-16%); }

.advantages__caption {
  margin-bottom: 3.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.advantages__num {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700; }

.advantages__sup {
  top: -0.7em;
  font-size: 2.6rem;
  transform: translateY(-16%); }

.advantages__row {
  line-height: 1.125; }

tr > td + td {
  padding: 0.5rem 0;
  padding-left: 0.9rem; }

.partners {
  position: relative;
  padding: 4.5rem 2rem;
  margin-bottom: 8rem; }
  .partners::after {
    content: "";
    display: block;
    position: absolute;
    left: 2rem;
    bottom: 0;
    width: 1160px;
    height: 2px;
    background-color: #eeeeee; }

.partners__list {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.partners__item {
  opacity: 0.2;
  position: relative; }
  .partners__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 52px;
    background-color: #eeeeee; }
  .partners__item:hover {
    opacity: 1; }
  .partners__item:active {
    opacity: .1; }

.partners__img {
  display: block; }

.map {
  position: relative; }

.map__img {
  display: block;
  width: 100%;
  height: 416px; }

.map__contacts {
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 220px;
  padding: 5rem;
  z-index: 3;
  background-color: #ffffff; }

.map__title {
  margin: 0;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 700;
  text-transform: uppercase; }

.map__text,
.map__num {
  margin: 0;
  line-height: 1.125; }

.map__text {
  margin-bottom: 1.8rem; }

.map__num {
  margin-bottom: 3.6rem; }

.map__btn {
  display: block;
  background-color: #fb565a; }
  .map__btn:hover {
    background-color: #e74246; }
  .map__btn:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }

/* SOCIAL */
.social {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem; }

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 6.9rem;
  padding-bottom: 6.9rem;
  list-style: none; }

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1; }
  .social__link:hover {
    background-color: #e74246; }
  .social__link:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }

.social__link:active .social__icon {
  opacity: 0.3; }

.social__item + .social__item {
  margin-left: 1.2rem; }

.social__offer {
  margin-left: 14rem; }

.social__title {
  margin: 0;
  margin-top: .4rem;
  font-size: 3.6rem;
  line-height: 1; }

.social__text {
  margin: 0;
  margin-top: 1rem;
  line-height: 1.375; }

/* filters */
.filters {
  width: 260px; }

.filters__fieldset {
  margin: 0;
  padding: 0;
  border: none; }
  .filters__fieldset--price {
    margin-bottom: 6rem; }
  .filters__fieldset--grid {
    margin-bottom: 5rem; }
  .filters__fieldset--features {
    margin-bottom: 6.1rem; }

.filters__title {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase; }
  .filters__title--price {
    margin-bottom: 5.5rem; }
  .filters__title--grid {
    margin-bottom: 1.8rem; }
  .filters__title--features {
    margin-bottom: 1.8rem; }

.filters__list {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.25; }

.filters__range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 1.4rem;
  padding-top: 3.9rem;
  padding-right: 2.0rem;
  padding-left: 2.0rem;
  background-color: #f1f1f1;
  border-radius: 3px; }

.filters__scale {
  height: 2px;
  background-color: #d7dcde; }

.filters__bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74; }

.filters__toggle {
  position: absolute;
  top: 39px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer; }
  .filters__toggle--min {
    left: 18px; }
  .filters__toggle--max {
    left: 160px; }

.filters__price-controls {
  display: flex;
  justify-content: space-between; }

.filters__label-price {
  font-size: 1.6rem;
  text-transform: uppercase; }

.filters__price-controls input {
  width: 60px;
  padding: 1rem;
  margin-left: .8rem;
  font-size: 1.6rem;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  background-color: #f1f1f1; }

.filters__item-option {
  padding-left: 3.6rem; }

.filters__item-option + .filters__item-option {
  margin-top: 1.4rem; }

.filters__input--radio + label {
  position: relative;
  padding: .3rem 0;
  display: block;
  color: #283136;
  cursor: pointer;
  user-select: none; }
  .filters__input--radio + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 17px;
    height: 17px;
    border: 4px solid #b8b8b8;
    border-radius: 50%; }

.filters__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: #b8b8b8;
  border-radius: 50%; }

.filter__input--checkbox + label {
  position: relative;
  display: block;
  padding: .15rem 0; }
  .filter__input--checkbox + label::before {
    position: absolute;
    content: "";
    top: 0;
    left: -36px;
    width: 19px;
    height: 19px;
    border: 2px solid #a6a6a6;
    border-radius: 3px; }

.filter__input--checkbox:checked + label::before {
  visibility: hidden; }

.filter__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -36px;
  width: 26px;
  height: 23px;
  background-image: url("./../img/svg/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.filters__btn {
  display: block;
  width: 100%;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee; }
  .filters__btn:hover, .filters__btn:focus {
    background-color: #dfdfdf; }
  .filters__btn:active {
    color: rgba(1, 1, 1, 0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5; }

/* CATALOG */
.catalog {
  width: 760px;
  margin-bottom: 6rem; }

.catalog__sort {
  margin-bottom: 5.5rem; }

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 2.1rem;
  padding: 0;
  list-style: none; }

.catalog__item {
  position: relative;
  width: 360px;
  margin-bottom: 4rem; }
  .catalog__item::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 62px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff; }
  .catalog__item:nth-child(2n) {
    margin-right: 0px; }

.catalog__item-browser {
  position: relative;
  height: 40px;
  width: 360px;
  background-color: #e9e9e9;
  border-radius: 5px 5px 0 0; }
  .catalog__item-browser::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff; }
  .catalog__item-browser::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 39px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff; }

.catalog__item:hover .catalog__item-browser,
.catalog__item:focus .catalog__item-browser {
  background-color: #4d4d4d; }

.catalog__img {
  display: block;
  box-sizing: border-box;
  border: 1px solid #ece9e6;
  border-top: none; }

.catalog__item-hide {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 264px;
  padding: 2.7rem 4.8rem 4.3rem;
  text-align: center;
  background-color: #eeeeee; }

.catalog__item:hover .catalog__item-hide,
.catalog__item:focus .catalog__item-hide {
  display: block; }

.catalog__title {
  margin: 0;
  margin-bottom: 1.6rem;
  color: #000;
  font-size: 1.8rem;
  line-height: 1.66667;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; }

.catalog__btn {
  margin: 0;
  padding: 1.5rem 4.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.125;
  color: #fff;
  text-decoration: none;
  background-color: #fb565a; }
  .catalog__btn:hover {
    background-color: #e74246; }
  .catalog__btn:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1); }

.catalog__text {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  line-height: 1.125;
  font-weight: 500; }

/* SORT */
.sort {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end; }

.sort__text {
  width: 160px;
  margin: 0;
  margin-right: auto;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase; }

.sort__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin: 0;
  padding: 0;
  list-style: none; }

.sort__item + .sort__item {
  margin-left: 2.6rem; }

.sort__link {
  display: block;
  font-size: 1.4rem;
  line-height: 1.28571428571;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  color: rgba(1, 1, 1, 0.3); }
  .sort__link--current {
    color: #010101; }
  .sort__link:hover:not(.sort__link--current) {
    color: rgba(1, 1, 1, 0.6); }
  .sort__link:active:not(.sort__link--current) {
    color: #010101; }

.sort__toggle {
  margin-left: auto; }

.sort__toggle-link:not(.sort__toggle-link--current):hover,
.sort__toggle-link:not(.sort__toggle-link--current):focus {
  opacity: 0.6; }

.sort__toggle-link:not(.sort__toggle-link--current):active {
  opacity: 1; }

.sort__link--current {
  opacity: 1;
  cursor: default; }

.sort__toggle {
  display: flex;
  width: 60px;
  margin: 0;
  margin-left: 2rem;
  padding: 0;
  list-style: none; }

.sort__toggle-item {
  width: 30px; }

.sort__toggle-link {
  position: relative;
  display: block;
  opacity: 0.3; }

.sort__toggle-link:not(.sort__toggle-link--current):hover,
.sort__toggle-link:not(.sort__toggle-link--current):focus {
  opacity: 0.6; }

.sort__toggle-link:not(.sort__toggle-link--current):active {
  opacity: 1; }

.sort__toggle-link--current {
  cursor: default;
  opacity: 1; }

.sort__toggle-link--down::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 11px 7px; }

.sort__toggle-link--up::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 11px 7px;
  opacity: 0.3; }

/* pagination */
.pagination__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none; }

.pagination__item {
  margin-right: 1.1rem; }

.pagination__link {
  display: block;
  padding: 1.6rem 2.05rem;
  border-radius: 3px;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.125;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #eeeeee; }
  .pagination__link--current {
    display: block;
    padding: 1.3rem 1.7rem;
    border: 3px solid #dbdbdb;
    border-radius: 3px;
    color: #000000;
    font-size: 1.6rem;
    line-height: 1.125;
    font-weight: 500;
    background-color: #ffffff; }
  .pagination__link--next {
    padding-left: 7.9rem;
    padding-right: 7.9rem; }
  .pagination__link:hover:not(.pagination__link--current) {
    background-color: #dfdfdf; }
  .pagination__link:active:not(.pagination__link--current) {
    color: rgba(1, 1, 1, 0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5; }
