@font-face {
   font-family: 'Roboto';
   src: url('./../../fonts/roboto.woff') format('woff'),
        url('./../../fonts/roboto.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./../../fonts/roboto.woff') format('woff'),
        url('./../../fonts/roboto.woff2') format('woff2');
   font-weight: normal;
   font-style: italic;
}



@font-face {
   font-family: 'Roboto';
   src: url('./../../fonts/robotomedium.woff') format('woff'),
        url('./../../fonts/robotomedium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./../../fonts/robotomedium.woff') format('woff'),
        url('./../../fonts/robotomedium.woff2') format('woff2');
   font-weight: 500;
   font-style: italic;
}



@font-face {
   font-family: 'Roboto';
   src: url('./../../fonts/robotobold.woff') format('woff'),
        url('./../../fonts/robotobold.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./../../fonts/robotobold.woff') format('woff'),
        url('./../../fonts/robotobold.woff2') format('woff2');
   font-weight: bold;
   font-style: italic;
}
