// Цвета
$red:                 #fb565a;
$yellow:              #efc849;
$pink:                #c71585;
$green:               #00ca74;
$blue:                #1d90ff;
$white:               #ffffff;
$black:               #000000;
$grey:                #eeeeee;

$primary-color:       $blue;
$secondary-color:     $yellow;

$body-color: $black;


// Шрифты
$serif:               "Lora", Georgia, serif;
$sans-serif:          "Roboto", Arial, sans-serif;


// Расстояние
$tablet-width:         768px;
$desktop-width:        1150px;
$mobile-width-only:    767px;
