.form {
    width: 280px;
    margin: 0 auto;
    padding: 38px 20px 32px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
        width: 648px;
        padding: 73px 60px 57px;
    }

    @media (min-width: $desktop-width) {
        width: 960px;
        padding: 108px 120px 63px;
    }
}

.form__title {
    @include font(18px, 26px);

    margin-bottom: 26px;

    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        margin-bottom: 32px;

        @include font(30px, );
    }

    @media (min-width: $desktop-width) {}
}

.form__text {
    @include font(14px, 24px);

    margin: 0;
    margin-bottom: 17px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        width: 439px;
        margin: 0 auto;
        margin-bottom: 55px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 38px;
    }
}


.form__features {
    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.form__fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 19px;
    padding-bottom: 5px;
    border: none;

    &--contacts {
        padding-bottom: 28px;
    }

    &--impression {
        padding-bottom: 16px;
    }

    &--attractions {
        padding-bottom: 1px;
    }

    &::after {
        @include pseudo();
        top: 0;
        left: -20px;
        width: 320px;
        height: 1px;
        background-color: $secondary;
    }

    @media (min-width: $tablet-width) {
        box-sizing: border-box;
        &::after {
            display: none;
        }

        &--introself {
            width: 50%;
            padding-left: 80px;
            &::before {
                @include pseudo();
                left: -1px;
                top: 21px;

                width: 1px;
                height: 297px;

                background-color: $secondary;
            }
        }

        &--contacts {
            width: 100%;
            margin-bottom: 6px;
            padding-top: 34px;
       }

        &--impression {
            order: -1;
            width: 50%;
        }

        &--attractions {
            width: 100%;
        }

        &--emotions {
            width: 100%;
            padding-top: 34px;
        }
    }

    @media (min-width: $desktop-width) {
        &--contacts {
            padding-top: 33px;
            margin-bottom: 0;
        }

        &--attractions {
            padding-top: 0;
        }
    }
}



.form__caption {
    @include font(18px, 26px, 700);

    margin-bottom: 21px;

    text-align: center;
    text-transform: uppercase;


    &--attractions,
    &--emotions {
        margin-bottom: 17px;
    }


    @media (min-width: $tablet-width) {
        position: relative;

        @include font(21px, 26px);

        &--contacts {
            margin-bottom: 26px;
        }

        &--attractions {
            margin-bottom: 42px;
        }

        &--emotions {
            margin-bottom: 58px;
        }

        &--introself,
        &--impression {
            text-align: left;
            margin-bottom: 58px;
        }

        &--contacts::after,
        &--attractions::after,
        &--emotions::after {
            @include pseudo();

            top: 50%;
            left: 0;

            width: 18%;
            height: 1px;

            background: #dbdbdb;

            transform: translateY(-50%);
        }

        &--contacts::before,
        &--attractions::before,
        &--emotions::before {
            @include pseudo();

            @include pseudo();
            top: 50%;
            right: 0;

            width: 18%;
            height: 1px;

            background: #dbdbdb;

            transform: translateY(-50%);
        }
    }

    @media (min-width: $desktop-width) {
        &--impression {
            padding-left: 78px;
        }

        &--introself {
            margin-bottom: 59px;
        }

        &--contacts {
            margin-bottom: 76px;
        }
    }
}


.form__list {
    @media (min-width: $tablet-width) {
        &--attractions {
            display: flex;
            flex-wrap: wrap;
            padding-left: 95px;
            padding-right: 34px;
        }
    }

    @media (min-width: $desktop-width) {
        &--contacts {
            display: flex;
        }

        &--attractions {
            flex-wrap: nowrap;
            padding-left: 0;
            padding-right: 0;
        }
    }

}


.form__item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;

    // &:not(:last-child) {
    //     margin-bottom: 20px;
    // }

    &--introself {
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    &--num {
        margin-bottom: 13px;

        &::after {
            @include pseudo();
            bottom: 0;
            right: 0;
            width: 58px;
            height: 58px;
            background: darken($secondary, 5%) url(./../../img/svg/icon-form-phone.svg) no-repeat center;
        }
    }

    &--email {
        &::after {
            @include pseudo();
            bottom: 0;
            right: 0;
            width: 58px;
            height: 58px;
            background: darken($secondary, 5%)
                        url(./../../img/svg/icon-form-mail.svg)
                        no-repeat center;
        }
    }

    &--attractions,
    &--impression {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 78px;
    }

    &--impression {
        margin-bottom: 13px;
    }

    &--attractions {
        margin-bottom: 24px;
    }

    @media (min-width: $tablet-width) {
        &--num {
            margin-bottom: 25px;
        }

        &--impression {
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 78px;
            margin-bottom: 20px;
        }

        &--attractions {
            flex-basis: 50%;
            box-sizing: border-box;
            margin-bottom: 33px;
        }
    }

    @media (min-width: $desktop-width) {
        &--contacts {
            flex-wrap: nowrap;
            width: 50%;
        }

        &--impression {
            padding-left: 80px;
        }

        &--num {
            &::after {
                right: 80px;
            }
        }

        &--email {
            &::after {
                bottom: 25px;
            }
        }

        &--attractions + &--attractions {
                margin-left: 52px;
        }
    }
}

.form__label {
    @include font(14px, 26px);
    text-transform: uppercase;

    &--impression,
    &--attractions {
        @include font(18px, 26px, 700);

        flex-grow: 1;

        text-transform: none;
    }

    &--impression {
        &::after {
            @include pseudo();

            top: 2px;
            left: 0;

            width: 56px;
            height: 56px;

            border-radius: 50%;

            background-color: $secondary;
        }
    }

    &--attractions {
        &::before {
            @include pseudo();

            top: 0;
            left: 0;

            width: 56px;
            height: 56px;

            border-radius: 4px;

            background-color: $secondary;
        }
    }

    &--introself {
        margin-right: 14px;
    }

    &--contacts {
        padding-left: 22px;

        margin-bottom: 6px;
    }

    @media (min-width: $tablet-width) {
        &--contacts {
            padding-left: 22px;
        }
    }

    @media (min-width: $desktop-width) {
        &--impression {
            &::after {
                left: 4px;
            }
        }

        &--contacts {
            padding-left: 0;
        }
    }
}

.fotm__contacts-text {
    &--desk {
        display: none;

        @media (min-width: $desktop-width) {
            display: block;
        }

    }

    &--mobile {
        @media (min-width: $desktop-width) {
            display: none;
        }
    }


}




.form__input {
    width: 100%;
    padding: 12px 17px;
    border: 4px solid $secondary;
    box-sizing: border-box;
    outline: none;

    @include font(16px, 26px, 700);

    background-color: $secondary;

    transition: background .2s linear,
                border-color .2s linear;

    &::placeholder {
        color: #000;
    }

    &:focus::placeholder{
        opacity: 0;
    }

    &:hover {
        border-color: darken($secondary, 5%);
        background: darken($secondary, 5%);
    }

    &:focus {
        background: 0 0;
    }

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {
        &--contacts {
            width: 314px;
            margin-left: 17px;
        }
    }
}



.form__checkbox {
    &--attractions:checked + .form__label--attractions::after {
        @include pseudo();

        top: 20px;
        left: 17px;

        width: 24px;
        height: 16px;

        background-image: url("./../../img/svg/icon-form-tick.svg");
        background-repeat: no-repeat;

        @media (min-width: $tablet-width) {}

        @media (min-width: $desktop-width) {}
    }
}

.form__radio {
    &--impression {
        display: none;
    }

    &--impression:checked + .form__label--impression::after {
        box-sizing: border-box;
        border: 17px solid $secondary;
        background-color: black;
    }

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {}
}

.form__checkbox {
    &--attractions {
        display: none;
    }

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {}
}

.form__textarea {
    width: 100%;
    height: 160px;
    margin-bottom: 45px;
    padding: 12px 16px;

    border: 4px solid $secondary;
    box-sizing: border-box;

    overflow: hidden;
    resize: none;

    outline: none;
    background: $secondary;

    transition: background .2s linear,
                border-color .2s linear;

    &::placeholder {
        @include font(18px, 26px, 700);
        color: #000;
        letter-spacing: -.4px;
    }

    &:focus::placeholder{
        opacity: 0;
    }

    &:hover {
        border-color: darken($secondary, 5%);
        background: darken($secondary, 5%);
    }

    &:focus {
        background: 0 0;
            cursor: text;
    }

    @media (min-width: $tablet-width) {
        margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 52px;
    }
}

.form__wrap-emotions-btn {
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.form__emotions-btn {
    width: 100%;
    text-transform: uppercase;

    padding: 16px 10px;
    background: $primary;
    color: white;
    font-weight: 700;
    text-align: center;

    outline: none;

    transition: background .2s linear,
                color .2s linear;

    &:focus,
    &:hover {
        background-color: darken($primary, 5%);
    }

    &:active {
        color: rgba(255,255,255,.3);

        background-color: darken($primary, 10%);
    }

    @media (min-width: $tablet-width) {
        width: 50%;
    }

    @media (min-width: $desktop-width) {}
}

.form__emotions-text-bottom {
    display: none;

    @media (min-width: $tablet-width) {
        @include font(14px, 26px)

        text-transform: uppercase;

        display: block;
    }

    @media (min-width: $desktop-width) {

    }

}

