.photo {
    width: 320px;
    margin: 0 auto;
    background-color: #fff;

    @media (min-width: $tablet-width) {
        width: 768px;
    }

    @media (min-width: $desktop-width) {
        width: 1200px;
    }
}

.photo__video {
    position: relative;

    padding: 37px 20px 27px;

    text-align: center;
    text-transform: uppercase;

    background-color: #fff;

    @media (min-width: $tablet-width) {
        padding: 73px 60px 69px;
        text-align: center;
    }

    @media (min-width: $desktop-width) {
        width: 960px;
        padding: 110px 120px 71px;
    }
}

.photo__video-title {
    @include font(18px, 26px);

    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
        @include font(30px, 1);

        width: 428px;

        margin: 0 auto;
        margin-bottom: 29px;
    }

    @media (min-width: $desktop-width) {}
}

.photo__video-text {
    @include font(14px, 24px);

    @media (min-width: $tablet-width) {
        width: 428px;
        margin: 0 auto;
    }

    @media (min-width: $desktop-width) {}
}

.photo__cards {
    padding: 0 20px;

    background-color: #fff;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
        padding: 0 60px;
    }

    @media (min-width: $desktop-width) {
        padding: 0;
    }

}

.photo__card {
    margin: 0;
    padding: 23px 0 16px;
    background-color: #fff;

    @media (min-width: $tablet-width) {
        padding: 0;
        background-color: #f2f2f2;

        &--road {
            background-color: #eaeaea;
        }
    }

    @media (min-width: $desktop-width) {
        position: relative;
    }
}

.photo__card-link {
    position: relative;
    display: block;
    margin-bottom: 15px;

    &::after {
        @include pseudo();
        top: -23px;
        left: -20px;

        width: 320px;
        height: 1px;

        background-color: #d6d6d6;
    }

    @media (min-width: $tablet-width) {
        &::after {
            display: none;
        }
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 0;
    }
}

.photo__card-img {
    display: block;

    @media (min-width: $tablet-width) {
        width: 324px;

        &--adaptive {
            width: 648px;
        }
    }

    @media (min-width: $desktop-width) {
        width: 400px;

        &--adaptive {
            width: 1200px;
        }
    }
}

.photo__card-body {
    @media (min-width: $desktop-width) {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        color: #fff;
    }
}

.photo__card-title {
    @include font(14px, 24px, 700);

    text-transform: uppercase;

    @media (min-width: $tablet-width) {
        padding-left: 20px;
    }

    @media (min-width: $desktop-width) {}
}

.photo__card-author {
    @media (min-width: $tablet-width) {
        position: relative;
    }


    @media (min-width: $tablet-width) {
        display: flex;
        padding-bottom: 17px;
        padding-left: 20px;
    }
}

.photo__card-name {
    @include font(14px, 24px);

    display: block;
    margin-bottom: 7px;

    font-style: normal;

    @media (min-width: $tablet-width) {
        margin: 0;
    }

    @media (min-width: $desktop-width) {}
}

.photo__card-likes {
    padding-left: 37px;

    @include font(14px, 26px, 700);

    background-image: url(./../../img/svg/icon-photo-like.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 23px 21px;

    cursor: pointer;

    @media (min-width: $tablet-width) {
        @include pseudo();
        right: -9px;
        top: -12px;

        width: 61px;
        padding-left: 32px;
    }

    @media (min-width: $desktop-width) {
        background-color: transparent;
    }
}
