.site-list {
    text-align: center;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: white;
    }

    @media (min-width: $desktop-width) {}
}

.site-list__item {
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;

    &:last-of-type {
        border-bottom: none;
    }

    @media (min-width: $tablet-width) {
        width: 153px;
        border: none;

        &:nth-child(2) {
            margin-right: 78px;
        }

        &:nth-child(3) {
            margin-left: 78px;
        }
    }

    @media (min-width: $desktop-width) {
        width: 239px;

        &:nth-child(2) {
            margin-right: 122px;
        }

        &:nth-child(3) {
            margin-left: 122px;
        }
    }
}

.site-list__item a {
    display: block;
    padding: 7px 0;

    @include font(18px, 40px, 700);
    text-decoration: none;
    color: white;
    text-transform: uppercase;

    background-color: $primary;

    transition: background .2s linear,
                color .2s linear;

    @media (min-width: $tablet-width) {
        padding: 14px 0 15px;
        border: none;
        @include font(14px, 26px);
        color: black;
        background-color: white;
    }

    @media (min-width: $desktop-width) {}
}

.site-list__item a[href] {
    &:focus,
    &:hover {
        background-color: darken($primary, 5%);
    }

    &:active {
        color: rgba(255,255,255,.3);

        background-color: darken($primary, 10%);
    }

    @media (min-width: $tablet-width) {
        &:focus,
        &:hover {
            color: $primary;
            background-color: white;
        }

        &:active {
            color: #b2b2b2;
            background-color: white;
        }
    }

    @media (min-width: $desktop-width) {}
}

