// Цвета

$primary:             #63d1bb;
$secondary:           #ececec;

$colorLine:         #444444;

$aquamarine:          #63d1bb;
$yellow:              #fce473;
$pink:                #c71585;
$green:               #32cd32;
$blue:                #1d90ff;
$white:               #ffffff;
$black:               #000000;


// Шрифты

$serif:               "Lora", Georgia, serif;
$sans-serif:          "Open Sans", Arial, sans-serif;

$baseFontSize: 10px;

// Расстояние

$tablet-width:         768px;
$desktop-width:        1150px;
$mobile-width-only:    767px;
