.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 24px;
    padding-right: 24px;

    @media (min-width: $tablet-width) {
        margin-left: auto;
        padding: 0;
    }

    @media (min-width: $desktop-width) {}
}


.copyright__text {
    @include font(18px, 1);

    @media (min-width: $tablet-width) {
        margin-right: 30px;
    }

    @media (min-width: $desktop-width) {}
}

.copyright__logo {
    display: block;
    width: 27px;
    height: 34px;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {}
}

.copyright__link {
    transition: fill .2s linear;

    &:hover,
    &:focus {
        fill: $primary;
    }

    &:active {
        fill: darken($primary, 30%);
    }

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {}
}
