.video {
    padding: 0 30px 56px;

    @media (min-width: $tablet-width) {
        padding: 0 50px 63px;
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;

        padding-bottom: 105px;
    }
}



.video__header {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 25px;

    border: 1px solid $secondary;
    border-bottom: none;

    @media (min-width: $tablet-width) {
        position: relative;
        padding: 0;
        border: none;
    }

    @media (min-width: $desktop-width) {}
}

.video__title {
    @include font(17px, 24px);

    @media (min-width: $tablet-width) {
        display: none;
    }

    @media (min-width: $desktop-width) {}
}

.video__camera {
    width: 32px;
    height: 22px;
    margin-left: 37px;
    margin-right: 25px;

    @media (min-width: $tablet-width) {
        @include pseudo();

        top: 493px;
        left: 4px;
    }

    @media (min-width: $desktop-width) {
        top: 48px;
        left: 725px;
    }
}

.video__presentation {
    position: relative;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {}
}

.video__img {
    display: block;
    @media (min-width: $tablet-width) {
        width: 668px;
        height: 455px;
    }

    @media (min-width: $desktop-width) {
        width: 682px;
        height: 455px;
    }
}

.video__icon {
    @include pseudo();
    @include сentering-xy();

    width: 101px;
    height: 77px;

    @media (min-width: $tablet-width) {}

    @media (min-width: $desktop-width) {}

}

.video__wrapper-order {
    padding-top: 27px;
    padding-bottom: 32px;
    padding-left: 33px;
    padding-right: 33px;

    border: 1px solid $secondary;
    border-top: none;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
        padding: 37px 40px 46px;

        border-top: 1px solid $secondary;
    }

    @media (min-width: $desktop-width) {
        width: 367px;
        padding: 0;
        padding-top: 95px;
        padding-left: 80px;
        padding-right: 57px;

    }
}

.video__title-right {
    display: none;

    @media (min-width: $tablet-width) {
        @include font(20px, 24px);

        display: block;
        margin-left: 67px;
        margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 0;
        margin-bottom: 34px;
    }

}

.video__text {
    @include font(13px, 24px);

    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
        @include font(15px, 30px);
        margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
        margin-bottom: 45px;
    }
}

.video__btn {
    @include font(18px, 20px, 700);

    display: block;
    margin: 0 auto;

    padding: 14px 20px;

    border: 2px solid $colorLine;

    transition: background .2s linear,
                color .2s linear;

    &:hover,
    &:focus {
        color: $white;
        background-color: $colorLine;
    }

    &:active {
        color: darken($white, 30%);
    }

    @media (min-width: $tablet-width) {
        width: 100%;
    }

    @media (min-width: $desktop-width) {}

}
